.container {
  width: 1158px;
  margin: 0 auto;
}

/* -------------------------header start------------------------- */

.logo-top-nav {
  margin-right: 76px;
}

.navigation-list {
  display: flex;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 16px;
  gap: 40px;
}

.navigation-list-item-link {
  padding: 24px 0 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
  display: flex;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  margin-left: 156px;
}

.address-list {
  gap: 40px;
  display: flex;
  padding: 24px 0 24px;
}

.address-list-item-contacts {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #434455;
}

/* --------------------------header end-------------------------- */

/* -----------------------herobaner start----------------------- */

.herobaner {
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/herobaner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  max-width: 1440px;
  margin-bottom: 120px;
  padding: 188px 0 188px;
  background-position: center;
}
.herobaner-title {
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.herobaner-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  padding: 16px 32px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ------------------------herobaner end------------------------ */

/* ------------------------benefits start------------------------ */

.benefits {
  padding: 120px 0 120px;
}

.benefits-title {
  display: none;
}
.benefits-list-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}
.benefits-list-item-vector {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  padding: 24px 100px;
  border: #8e8f99 1px solid;
  margin-bottom: 8px;
  border-radius: 4px;
}

.benefits-list-item-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.benefits-list-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.benefits-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

/* -------------------------benefits end------------------------- */

/* --------------------------team start-------------------------- */

.team {
  background-color: #f4f4fd;
  padding: 120px 0 120px;
}

.team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-bottom: 120px 0 120px;
}

.team-title {
  color: #2e2f42;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}
.team-list-item {
  background-color: #ffffff;
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.team-list-item-title {
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 8px;
}
.team-list-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  font-size: 16px;
  color: #434455;
  margin-bottom: 8px;
}

.team-list-item-container {
  padding: 32px 0 32px;
}

.team-list-sublist {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.team-list-sublist-item {
  width: 40px;
  height: 40px;
}

.team-list-sublist-link {
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-sublist-link:hover {
  background-color: #404bbf;
}

.team-list-sublist-link:focus {
  background-color: #404bbf;
}

.team-list-sublist-svg {
  fill: #f4f4fd;
}

/* ---------------------------team end--------------------------- */

/* -----------------------portfolio start----------------------- */

.portfolio {
  padding: 120px 0 120px 0;
}

.portfolio-title {
  color: #2e2f42;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.portfolio-list-item-title {
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 8px;
}
.portfolio-list-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  color: #434455;
}
.portfolio-list-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-list-item-overlay {
  position: absolute;
  top: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #4d5ae5;
  color: #f4f4fd;
  padding: 40px 32px;
  margin: 0 auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .portfolio-list-item-overlay {
  transform: translateY(0%);
}

/* ------------------------portfolio end------------------------ */

/* -------------------------footer start------------------------- */

.bottom {
  background: #2e2f42;
  padding: 100px 0 100px;
}
.bottom-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding-bottom: 100px;
}

.navigation-link-bottom {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  display: inline-block;
  margin-bottom: 16px;
}

.studio {
  color: #f4f4fd;
  margin-left: 0px;
}

.bottom-text-container {
  margin-right: 120px;
}

.bottom-social-link-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.bottom-container {
  display: flex;
  align-items: baseline;
}

.bottom-sublist {
  display: flex;
  gap: 16px;
}

.bottom-sublist-item {
  height: 40px;
  width: 40px;
  background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bottom-sublist-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bottom-sublist-svg {
  fill: #f4f4fd;
}

.bottom-sublist-link:hover {
  background-color: #31d0aa;
}

.bottom-sublist-link:focus {
  background-color: #31d0aa;
}

.bottom-forma-container {
  margin-left: auto;
}

.forma-text {
  margin-bottom: 16px;
}

.bottom-forma {
  display: flex;
  gap: 24px;
}

.footer-input {
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-input::placeholder {
  color: #ffffff;
}

.forma-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
  color: #ffffff;
  background-color: #4d5ae5;
  outline: none;
  height: 40px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  border: none;
  min-width: 165px;
  border-radius: 4px;
}

.forma-svg {
  fill: #ffffff;
  margin-left: 16px;
}

/* --------------------------footer end-------------------------- */

/* -------------------------modal start------------------------- */

.backdrop {
  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 4px;
  width: 408px;
  min-height: 584px;

  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);

  background-color: #fcfcfc;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.backdrop:not(is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: #2e2f42;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-close-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  display: block;
}

.modal-subcontainer {
  position: relative;
  border: none;
}
.modal-subcontainer:focus-within {
  position: relative;
  border: none;
}

.modal-svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-container {
  width: 360px;
  margin-bottom: 8px;
}

.modal-input {
  border-radius: 4px;
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  padding-top: 11px;
  padding-bottom: 11px;
  height: 40px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover {
  border: 1px solid #4d5ae5;
}

.modal-input:hover,
.modal-input:hover + .modal-svg {
  fill: #4d5ae5;
}

.modal-input:focus-within {
  border: 1px solid #4d5ae5;
  outline: none;
}

.modal-input:focus-within,
.modal-input:focus-within + .modal-svg {
  fill: #4d5ae5;
}

.modal-textarea {
  padding: 8px 16px;
  resize: none;
  width: 100%;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-coment {
  margin-bottom: 16px;
}

.modal-textarea:hover {
  border: 1px solid #4d5ae5;
}

.modal-textarea:focus-within {
  border: 1px solid #4d5ae5;
  outline: none;
}

.modal-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-checkbox {
  margin-bottom: 24px;
}
.modal-checkbox-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-checkbox-span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-checkbox:checked + .modal-checkbox-text > .modal-checkbox-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-link {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.check-button {
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  color: #ffffff;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  min-width: 169px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* --------------------------modal end-------------------------- */
